#signature-pad
{
    border-color: #f4f5f4;
}
ion-button {

        margin-right: 10px;
        margin-left: 10px;
        background-color: #82E0AA;
        color: black;
        border-radius: 5px;
        width: 100px;
    
}
ion-title
{
    padding: 20px;
}
input
{
    border-radius: 5px;
    border-color:whitesmoke ;
    background-color: black;
    width: 22em;
    height: 10vw;
}
#back
{
 --background: aliceblue;
 width: 50px;
 height: 20px;
}