#title{
    --background: #2ECC71 ;
    font-weight: bold;
}
#title_2{
    --background: #58D68D ;
    color: rgb(243, 236, 236);
}
ion-title{
    color: #58D68D;
    font-size: 40px;
   font-family:Candara;
   font-weight: bold;
   text-align: center;
   padding-top: 0.2em;
   padding-bottom: 0.4em;
  }
  #back
  {
   --background: aliceblue;
   width: 50px;
   height: 40px;
  }