
ion-content
{
    --ion-background-color:black;
}
img{

  width: 175px;
  margin-top: 6em;
  margin-left: 13em;
  
}
ion-button{
  width: 150px;
  height: 100px;
  border-radius: 20px;
  
  --background:#82E0AA;
}
#buttons{
  margin-top: 75px;
  margin-left: 8em;
}
ion-icon{
  width: 100px;
  height: 75px;
  color: rgb(15, 15, 15);
}
h1{
   color: #58D68D;
   font-size: 50px;
  font-family:Candara;
  font-weight: bold;
  text-align: center;

}

label {
  display: block;
  font-weight: bold;
  color: rgb(8, 8, 8);
  
}
.pointsClass
{
  input
  {
    
  }
}