
<ion-content [fullscreen]="true">
  
  <h1>Analyse des risques</h1>
  <div id="buttons">
  
  <ion-button id="add" (click)= "presentNew()"> 
    <div>
    <ion-icon name="expand-outline"></ion-icon>
    <label>Chantier EvRP</label>
  </div>
  </ion-button>
  <ion-button id="history" href="/history" >
    <div>
    <ion-icon name="folder-outline"></ion-icon>
    <label>Historique</label>
  </div>
  </ion-button>
  <ion-button id='params' href="/parametres" >
    <div>
      <ion-icon name="settings-outline"></ion-icon>
    <label>Parametres</label>
    </div>
  </ion-button>
  
</div>
</ion-content>
